<div id="skills" class="page">
  <div class="content-wrapper">
    <div class="header">
      <div class="content-title">
        {{header.title}}
      </div>
      <div class="content-quote">
        {{header.quote}}
      </div>
      <div class="content-author">
        {{header.author}}
      </div>
    </div>

    <div class="content-main skills-content-main">
      <div class="icon-button" *ngFor="let skill of skills">
        <img class="icon" src={{skill.iconPath}} alt="">
      </div>
    </div>

  </div>
</div>
