<div id="about" class="page">
  <div class="content-wrapper">
    <div class="header">
      <div class="content-title">
        {{header.title}}
      </div>
      <div class="content-quote">
        {{header.quote}}
      </div>
      <div class="content-author">
        {{header.author}}
      </div>
    </div>

    <div class="content-main about-content-main">
      <div class="profile-picture"></div>
      <div class="paragraph">
        I'm an eager learner of technology and an advocate of perfection. Coming from a strong customer service and
        business management background, the integration of performance-driven, efficient code with UI/UX in mind came
        naturally.
      </div>
      <div class="paragraph">
        As a problem solver, my ability to adapt to the situation and provide a well thought-out response is my greatest
        strength. As a programmer, my problem solving skills have always helped me to search for best practices and
        simplest implementations. As Alexander Pope once said, "A little learning is a dangerous thing," I believe that
        it is imperative for a professional to strive for deep, fundamental understanding of the subject: It is with
        this philosophy in mind that I study and write code.
      </div>
      <div class="paragraph">
        Please feel free to contact me via the
        <a routerLink="/contact">Contact Me</a>
        page or at kimkijung@icloud.com
        if you have any questions or
        just want to talk about code! I love to share ideas about new technologies and current events, just hearing the
        thoughts of others in general!
      </div>
    </div>
  </div>
</div>
