// #555555 - grey
// #b49fd8 - darker pastel purple
// #d4c7e7 - lighter pastel purple


html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  width: 100%;

  display: flex;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  .header {
    width: 100%;

    .content-title {
      font-family: 'Fascinate Inline', cursive;
      font-size: 42px;
      color: lightslategrey;
      margin: 12px 8px 0 8px;
    }

    .content-quote {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: lightslategrey;
      margin: 4px 8px 0 8px;
    }

    .content-author {
      text-align: end;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: lightslategrey;
      margin: 4px 8px 0 8px;
    }
  }

  .content-main {
    margin: 20px 12px 0 12px;
    background: ghostwhite;
    border-radius: 12px;
    max-height: calc(100vh - 240px);
    overflow-y: scroll;
    box-shadow: inset 0 0 8px grey;
  }
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: lightslategrey;
  margin: 12px 12px;
}
