html {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  width: 100%;

  display: flex;
}

.content-title {
  font-family: 'Fascinate Inline', cursive;
  font-size: 42px;
  color: lightslategrey;
  margin: 12px 8px 0 8px;
}

.content-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: lightslategrey;
  margin: 4px 8px 0 8px;
}
