<div id="navigation">
  <div class="navigationItem" routerLink="/">
    <div class="tooltip">Home</div>
    <i class="fas fa-home"></i>
  </div>
  <div class="navigationItem" routerLink="/about">
    <div class="tooltip">About</div>
    <i class="fas fa-question-circle"></i>
  </div>
  <div class="navigationItem" routerLink="/skills">
    <div class="tooltip">Skills</div>
    <i class="fas fa-tools"></i>
  </div>
  <div class="navigationItem" routerLink="/projects">
    <div class="tooltip">Projects</div>
    <i class="fas fa-tablet-alt"></i>
  </div>
  <div class="navigationItem" routerLink="/contact">
    <div class="tooltip">Contact</div>
    <i class="fas fa-phone-square"></i>
  </div>
</div>
