<div id="navigation">
  <div class="navigation-icon" routerLink="/home" routerLinkActive="navigation-icon-active">
    <i class="material-icons">home</i>
  </div>

  <div class="navigation-icon-divider"></div>

  <div class="navigation-icon" routerLink="/about" routerLinkActive="navigation-icon-active">
    <i class="material-icons">face</i>
  </div>

  <div class="navigation-icon-divider"></div>

  <div class="navigation-icon" routerLink="/experiences" routerLinkActive="navigation-icon-active">
    <i class="material-icons">work</i>
  </div>

  <div class="navigation-icon-divider"></div>

  <div class="navigation-icon" routerLink="/skills" routerLinkActive="navigation-icon-active">
    <i class="material-icons">school</i>
  </div>

  <div class="navigation-icon-divider"></div>

  <div class="navigation-icon" routerLink="/projects" routerLinkActive="navigation-icon-active">
    <i class="material-icons">apps</i>
  </div>

  <div class="navigation-icon-divider"></div>

  <div class="navigation-icon" routerLink="/contact" routerLinkActive="navigation-icon-active">
    <i class="material-icons">mail</i>
  </div>
</div>
